$main-color: #F4C150;
$secondary-color: steelblue;
$bg-color: #f4f4f4;
$udemy-color: #EA5252;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg-color;
  font-family: 'Dosis', sans-serif;
}

ul {
  list-style: none;
}

.p-1 { padding: 1rem }
.p-2 { padding: 2rem }
.p-3 { padding: 3rem }

.py-1 {padding: 1rem 0;}
.py-2 {padding: 2rem 0;}
.py-3 {padding: 3rem 0;}

.btn {
  text-decoration: none;
  color: #333333;
  padding: 0.5rem;
  font-size: 1.7rem;
  font-weight: bold;
  transition: all 1s;
  border: 2px solid transparent;
  cursor: pointer;

  &:hover {
    color: $main-color;
    background-color: $bg-color;
    border: 2px solid $udemy-color;
    border-radius: 20%;
  }
}

.btn-s {
  font-size: 1rem;
  padding: 0.2rem;
}

.btn-dark {
  background-color: #333333;
  color: $bg-color;
}

.header-l {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin: 0.5rem;
  text-transform: uppercase;

}

.bottom-line {
  background-color: $main-color;
  width: 80%;
  height: 2px;
  text-align: center;
  margin: auto;
  padding-top: 1fr;
}