@import "config";

// Header
#main-header {
  position: sticky;
  background: $main-color;
  text-align: center;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header-l {
      margin: 0.5rem;
      font-size: 1.5rem;
    }
  }

  .link-course {
    background-color: $bg-color ;
    padding: 0.2rem 0.5rem;
    border-radius: 5%;
    display: flex;

    .fas {
      color: $udemy-color;
      padding-right: 0.5rem;
      align-self: center;
    }

    a {
      font-size: 1.2rem;
      font-weight: bold;
      color: #333333;
      padding-top: 0.2rem;
      background-color: $bg-color;
    }
  }

  .header-links {
    ul {
      display: flex;

      li {
        padding: 1rem;
      }
    }
  }
}

// Section Content
#section-content {
  text-align: center;

 .section-content__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    margin: auto;
  }

  .articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.2rem;
    margin: 0.5rem;

    .article-wrapper {
      background-color: coral;

      h3 {
        font-size: 1.5rem;
      }

      .article-content {
        display: grid;
        grid-template-areas:
        'screenshot screenshot'
        'git show'
        'text text';
        grid-gap: 0.5rem;
        align-items: center;
      }


      .article-img {
        grid-area: screenshot;
        //height: 200px;
        //width: 250px;
        max-height: 200px;
        margin: auto;
        transition: transform 1s;

        &:hover {
          transform: scale(1.5);
        }
      }

      a {
        border: 1px $secondary-color solid;
        border-radius: 5%;
        margin: 0 auto;
        font-size: 1.5rem;
      }
      .article {
        &_git {
          grid-area: git;
        }

        &_show {
          grid-area: show;
        }
      }

      p {
        grid-area: text;
        padding: 0 1rem 1rem 1rem;
        font-size: 1.2rem;
      }
    }
  }
}